<section class="hero-banner">
  <div class="overlay"></div>

  <div class="content">
    <div class="container-1">
      <span class="genre">Animation</span>
      <span class="genre">Adventure</span>
    </div>

    <div class="container-2">
      <i class="fas fa-play"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-heart"></i>
      <h1 class="title">HOW TO TRAIN YOUR DRAGON 3</h1>
      <p>When the sudden appearance of a female Light Fury coincides...</p>
    </div>

    <div class="buttons">
      <button class="play-btn">Play</button>
      <button class="download-btn">Download</button>
      <button class="download-btn">...</button>
    </div>
  </div>
</section>
