<div class="card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <img
        src="/img/logo.png"
        alt="H&DStream"
        class="w-16 h-19         
        object-contain"
      />
      <p-button
        icon="pi pi-plus"
        class="mr-1"
        text
        severity="secondary"
      ></p-button>
    </ng-template>
    <ng-template #center>
      <p-iconfield iconPosition="left">
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconfield>
    </ng-template>
    <ng-template #end>
      <p-splitbutton label="Save" [model]="items" />
    </ng-template>
  </p-toolbar>
</div>
